body{
    margin: 0 auto; 
    text-align: center;
    height:100%;
}
/* .app-container{  
} */
/*helpers*/
.flex{display: flex;}
.col{flex-direction: column;}
.row{flex-direction: row;}
.just-start{justify-content: flex-start;}
.just-end{justify-content: flex-end;}

/*Gallery*/
.gallery-container{background-color: cadetblue;}
.gallery-container div{width: 50%; }
.canvas-container{
    background-color: hotpink; 
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.canvas-container .line{ position: absolute; margin: 10px; height:40px; width:100%; background-color: black;}/*display: none;*/
.canvas {
    margin: 0 auto;
    background-color: silver;
  }



/*Controls*/
.controlls-container{
    width: 50%; 
    background-color: salmon; 
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);    
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px; */
}
.input-line-text{}
.top-controlls-container{}
.upAndDown{}
.move-text{}
.add-image{}
.clear-canvas{}
.move-text{}
.arrows div{height:40px; width: 40px; border:1px solid black;}
.btn{height:40px; width:40px;}
.display-img

.gallery-memes{
    display: grid;
    grid-template-columns: repeat(5, inherit);    
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
}
.gallery-meme{
    text-align: center;
    grid-row: 1/6;
    height:150px;
    width:150px;
    grid-auto-flow: row;

}