body{
    margin: 0 auto; 
    text-align: center;
    height:100%;
}
/*Top*/
.nav{background-color: #ff7f00;}
/*helpers*/
.flex{display: flex;}
.column{flex-direction: column;}
.row{flex-direction: row;}
.just-start{justify-content: flex-start;}
.just-end{justify-content: flex-end;}

/*Tabs*/
.logo{width: auto;  position: absolute; float: right; margin: 30px 0 0 20px;}
.logo-img{width: 100px; }

/*Gallery*/
.gallery-container{background-color: cadetblue;}
.gallery-container div{width: 50%; }
.canvas-container{
    background-color: rgb(54, 54, 65); 
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.canvas-container .line{ position: relative; margin: 10px; height:40px; z-index: 1000; width:100%; background-color: black;}/*display: none;*/
.canvas {
    margin: 0 auto;
    background-color: #e3e3e3;
  }



/*Controls*/
.controlls-container{
    width: 50%; 
    background-color: #e3e3e3; 
}
.input-line-text{height:40px; width:200px; margin: 10px 0 10px 0;}
.top-controlls-container{margin: 0 0 0 10px;}
.bottom-controlls-container{margin: 0 0 0 10px;}

.clear-canvas{width:70px; margin: 0 auto;}

.arrows div{height:40px; width: 40px; border:1px solid black;}
.btn{height:70px; width:70px; text-align: center; margin: 0 5px 0 0; border-radius: 1em; background-color: white;}
.btn-img{height:50px; width:50px; text-align: center;}
/*Controlls end*/

.gallery-memes{
    display: grid;
    grid-template-columns: repeat(5, inherit);    
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
}
.gallery-meme{
    text-align: center;
    grid-row: 1/6;
    height:150px;
    width:150px;
    grid-auto-flow: row;

}

.footer{width:100%; height: 207px; text-align: center; display: flex; flex-flow: column; position: relative; bottom: 0; background-color: #ff7f00;}
.logo-container{justify-content: center; align-items: center;  width: 130px; margin: 40px auto; }
.footer-logo-img{height:30px; width: 120px;}
.copyRights{color: ivory; font:12px}