body {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(0, 0, 0);
}
a:active {
  color: rgb(0, 0, 0);
}
.btn {
  text-align: center;
  margin: 0 5px 0 0;
  border-radius: 1em;
  background-color: white;
  outline: none;
  cursor: pointer;
}
.btn-img {
  height: 60px;
  width: 60px;
  text-align: center;
}

/*helpers*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.just-start {
  justify-content: flex-start;
}
.just-end {
  justify-content: flex-end;
}
/* helpers End */

/*Top*/
.header {
  height: 66px;
  width: 100%;
  background-color: #ff7f00;
  border-bottom:1px solid black;
}
.logo-img {
  margin: 20px 0 0 20px;
  height: 23px;
  width: 120px;
}
.nav {
  text-align: center;
  width: 100%;
  background-color: #ff7f00;
  padding: 0 57px 0 0;
}
.nav div {
  height: 66px;
  padding: 0 0 0 5px;
  text-align: center;
}
.nav-link {
  line-height: 4;
  font-size: 1.1875rem;
  font-family: Montserrat;
  font-weight: 400;
}
.nav-link-divider {
  margin: 25px 5px 0 5px;
  max-height: 25px;
  display: block;
  border-right: 2px #8a8a8a solid;
}
/* top End */

/* Main */
.main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.canvas-container {
  width: 50%;
  background-color: #e3e3e3;
}
.canvas {
  height: auto;
  width: auto;
  margin: auto;
  background-color: #e3e3e3;
  background-color: slategray;
}
/*main -> controlls*/
.controls-container {
  margin: 0 auto;
  display: flex;
  width: 50%;
  position: relative;
  overflow-x: hidden;
  background-color: #e3e3e3;
  overflow: hidden;
}
.controls-container div {
  width: 100%;
  padding: 5px;
}
.input-text {
  height: 40px;
  width: 200px;
  border-radius: 1em;
}

/* .text-controls-top {
} */
.stickers {
  width: 50%;
  height: 135px;
}
.download-btn {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.share-container {
  padding: 0;
}
.share-btn {
  margin: 0 10px 0 0;
}
/* main End */

/*Aside*/
.aside-gallery-container {
  text-align: start;
  right: -100%;
  /* align-self: flex-end; */
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ff7f00; 
  border-left:1px solid black;
  overflow: auto;
  overflow-x: hidden;
}
.slide-in {
  transform: translate(-100%, 0);
  transition: transform 0.2s;
}
.slide-out {
  transition: transform 0.2s;
}
.btn-close-gallery {
  cursor: pointer;
  height: 60px;
  width: 60px;
  padding: 10px 0 0 10px;
}
.btn-close-gallery:hover {
  opacity: 0.5;
}
.gallery {
  /* text-align: center;
  margin: 0 auto; */
  justify-content: center;
}
.gallery-meme {
  min-width: 100px;
  max-width: 250px;
  height: auto;
  padding: 1px;
}
/*aside End*/

/* Footer */
.footer {
  width: 100%;
  height: 207px;
  text-align: center;
  display: flex;
  flex-flow: column;
  position: relative;
  bottom: 0;
  background-color: #ff7f00;
  border-top: 1px black solid;
}
.logo-container {
  justify-content: center;
  align-items: center;
  width: 130px;
  margin: 40px auto;
}
.footer-logo-img {
  height: 23px;
  width: 120px;
}
.copyRights {
  color: ivory;
  font: 12px;
}
/* footer End */



@media  screen and (max-width: 820px) {
  .main  {
    flex-flow: column wrap;
    width: 100%;
  }
  .canvas-container{
    width:100%;
  }
  .controls-container{
    flex-flow: row wrap;
    width:100%;

  }
}